@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --convert-color: 147, 204, 238;
  --foreground-rgb: 0, 0, 0;
  --primary: 198.73, 91.93%, 56.27%;
  --secondary: 204.00, 15.15%, 93.53%;
}

body {
  color: hsl(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      hsl(var(--primary))) hsl(var(--secondary));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded transition-all;
}

.btn-disabled {
  @apply bg-gray-600 text-white py-2 px-4 rounded transition-all;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-700 text-white py-2 px-4 transition-all;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}